<div class="headerContainer">
    <h1>Michael Pikula - Angular Research App</h1>
    <p class="overview">
        Welcome to my angular research app! This app contains a collection of small pages that I made while learning the basics of Angular.
        Each page is fully distinct, but offers a minimal amount of interaction to practice taking input from the user and displaying the effects.
        You can get started on any activity by using the navigation bar above.
    </p>
</div>
<div class="imageContainer">
    <p>Here's an image of the Angular logo, because it actually took a second to get this to work.</p>
    <br>
    <img src="/AngularLogo.png" />
</div>