<nav>
    <a routerLink="/about">ABOUT</a>
    <a routerLink="/calculator">CALCULATOR</a>
    <a routerLink="/color-picker">COLOR PICKER</a>
    <a routerLink="/repeat-back">REPEAT BACK</a>
    <a routerLink="/test-form">TEST FORM</a>
</nav>

<!-- Display whatever the Router is looking at -->
<router-outlet />

<div class="footerContainer">
    <footer>
        <a href="https://github.com/Mikul958/angular-research-app" target="_blank">GitHub Repository</a>
        &#x2022;
        <a href="https://www.freecodecamp.org/learn/" target="_blank">HTML and CSS Tutorial</a>
        &#x2022;
        <a href="https://angular.dev/tutorials/learn-angular" target="_blank">Angular Tutorial</a>
        &#x2022;
        <a href="https://angular.dev/overview" target="_blank">In-Depth Angular Guide</a>
    </footer>
</div>